*{
    margin: 0%;
    padding: 0%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    background-color: #ffffff;
    color: black;
    padding: 20px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline-block;
    margin-right: 20px;
}

.nav-links li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #DA5726;
}

.nav-links #close{
    display: none;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0; /* Adjusted from left: 0 to right: 0 */
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: flex;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    padding: 15px;
    text-align: center;
}

.sidebar a {
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

#closeSidebar {
    display:none ;
    position: fixed; /* Use fixed position for consistent placement */
    top: 10px;
    right: 10px; /* Adjust the right property for positioning */
    font-size: 30px;
    color: #818181;
    cursor: pointer;
    transition: 0.3s;
}

#closeSidebar:hover {
    color: #f1f1f1;
}

#menu {
    display: none; /* Hide the bars icon initially */
}

.logo {
    width: auto; /* Adjust size as needed */
    height: auto;
}

h1, h2{
    text-align: center;
}
hr {
    border: 1px solid #333;
    margin: 20px 0;
}


img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 20px;
}

#featured-products {
    text-align: center;
    padding: 20px;
}

.section-title h2 {
    margin-bottom: 20px;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.product-category {
    flex: 1;
    min-width: 200px; /* Adjust based on your preference */
    max-width: 300px; /* Adjust based on your preference */
}

.product-category h3 {
    margin-bottom: 10px;
}

.product-category img {
    width: 100%; /* Makes image responsive */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px; /* Optional: adds rounded corners */
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%; /* Adjust based on your preference */
    margin-bottom: 20px;
}

.card img {
    max-width: 100%; /* Ensures image is responsive and fits within the card */
    height: auto; /* Maintains aspect ratio */
}

.card h1, .card h3 {
    margin: 10px 0;
}

.card p {
    margin-bottom: 20px;
}

footer {
    background-color: black;
    color: #fff;
    padding: 20px;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    #menu {
        display: block; /* Show the bars icon when the screen size is smaller */
    }

    .nav-links {
        display: none; /* Hide the navigation links initially on smaller screens */
    }

    .sidebar {
        width: 80%; /* Adjust the width for smaller screens */
        padding-top: 30px; /* Adjust padding for smaller screens */
    }

    #closeSidebar {
        display: block;
    }
}

/*carousel*/
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 50px;
  padding: 8px 12px;
  position: absolute;
  top: 50px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 1200px) {
  .text {font-size: 11px}
}

/*Get Started button*/
#getStarted {
  background-color: #DA5726;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#getStarted:hover, #getStarted:active {
  background-color: #DA5726;
}

 /* Add modal styles here */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*Back to top button*/

#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #DA5726; 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

  /*cards*/

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 800px;
    margin: auto;
    text-align: center;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  butto {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }

  /*cards*/

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 800px;
    margin: auto;
    text-align: center;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
butto {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
  
a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}
  
button:hover, a:hover {
    opacity: 0.7;
}

/* Navbar Icons */

.short-icons {
    width: 100%;
    overflow: auto;
} 

.nav-icon1 {
    height: 1em;
    margin: 2em 1em 0em 0em;
}
  
.nav-icon2 {
    height: 1em;
    margin: 2em 0.5em 0em 0em;
}

.nav-icon3 {
    height: 1em;
    margin: 2em 0.5em 0em 0em;
}


/* Style the dropdown button */
.dropbtn {
    color: black;
    border: none;
  }
  
  /* Dropdown container */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Style the sub-menu */
  .sub-menu {
    display: none;
    padding-left: 20px;
  }
  
  /* Show the sub-menu when parent menu item is hovered */
  .dropdown-content .sub-menu a:hover {
    background-color: #ddd;
  }
  
  /* Show the sub-menu when parent menu item is hovered */
  .dropdown-content .sub-menu {
    display: block;
  }
  